*{
    margin:0;
    padding:0;
  }
  
  header{
    border-bottom: 1px solid #1b85dc;
    height: 10vh;
    display:flex;
    margin-top: 10px;
  }
  
  #logo{
    width: 30vw;
    height: 10vh;
    margin-left: 10px;
  
  }
  
  #logo img{
    height: 8vh;
  }
  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  .bi-trash{
    color: rgb(189, 38, 38);
   
  }
  .bi-trash:hover{
    cursor: pointer;
    color: rgba(189, 38, 38, 0.729);
  }
  .bi-trash:active{
    color: rgb(189, 38, 38);
  }
  .bi-pen{
    color: rgb(43, 38, 189);
  }
  .bi-pen:hover{
    cursor: pointer;
    color: rgba(43, 38, 189, 0.729);
  }
  .bi-pen:active{
    color:rgb(43, 38, 189);
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  .card{
    margin-bottom: 40px;
    border: outset 5px rgb(96, 118, 138);
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #1b85dc;
    position: absolute;
    padding:2vh 2vw;
    display: none;
    width: 90vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }
  @media (max-width:600px){
      .card{
        margin-bottom: 20px;
      }
        

  }